<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS - EDIT</title>
</head>

<body>

  <h2>Editar Registro<h2>
      <form action="/api/data/put/<%= data._id %>" method="GET">

        <input type="text" value="<%= data.name %>" name="name">
        <input type="text" value="<%= data.surname %>" name="surname">
        <p>
          <button type="submit">Editar</button>
        </p>
      </form>

</body>

</html>