<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>

<body>

  <h2>Index<h2>

      <form action="/api/data" method="POST">
        <div class="form-group">
          <label for="InputNome">Nome</label>
          <input type="text" class="form-control" id="InputNome" aria-describedby="emailHelp"
            placeholder="Nome" name="name">
        </div>
        <div class="form-group">
          <label for="InputSobrenome">Sobrenome</label>
          <input type="text" class="form-control" id="InputSobrenome" aria-describedby="emailHelp" placeholder="Sobrenome" name="surname">
        </div>
        <p>
          <button type="submit">
            Submit
          </button>
        </p>

      </form>
      <button>
        <a href="/api/data">
          Registros
        </a>
      </button>

</body>

</html>
