<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS - view</title>
</head>

<body>

  <h2>View Registro<h2>
  <h3>ID: <%= data.id %></h3>
  <h3>Nome: <%= data.name %></h3>
  <h3>Sobrenome: <%= data.surname %></h3>

  <button>
    <a href="/">
      Voltar
    </a>
  </button>

</body>

</html>